<div class="col-12 p-5">
    <h5>
        <img src="{{url_for('static', filename='imgs/trie-logo.svg')}}" height="40%" width="40%" alt="" >
        <em
         style="
          color: #efefef;
          font-family: 'Rock Salt', cursive;" >Trie
        </em>
    </h5>
</div>
<div class="col-12 p-5">
    <h3 style="font-family: 'Rock Salt', cursive;
                color:#efefef">
        Food is Art <br>
        <img src="{{url_for('static', filename='imgs/foodis_art.png')}}" height="100%" width="100%" alt="">
    </h3>
</div>