{% extends 'index.html' %}
{% block content %}
<!-- {% include 'nav.html' %} -->
<!-- <main class="mdc-top-app-bar--fixed-adjust row " style="height: 100% !important;"> -->
    <div class="row h-100">
        <div class="col-xl-4 col-12 h-100 bg-info desktopMenu">
            {% include 'auth_temp.html' %}
        </div>
        <div class="col-xl-8 h-100 col-12 p-xl-5">
            {% include 'flash_msg.html' %}
            <div class="col-12 h-100 position-relative">

                <div class="position-absolute top-0 start-50 translate-middle-x  ">
                    <center>
                        
                        <h3 class="mt-3 authmobile_tab" style="font-family: 'Rock Salt', cursive;">
                            Food is Art <br>
                            <img src="{{url_for('static', filename='imgs/foodis_art.png')}}" height="100%" width="100%" alt="">

                        </h3>
                        
                        
                    </center>
                </div>

                <div class="position-absolute top-50 start-50 translate-middle col-12">
                    <center>
                        <p class="col-12 text-primary" style="font-family: 'Rock Salt', cursive;">Make art with trie</p>
                    </center>
                </div>

                <div class="position-absolute bottom-0 start-50 translate-middle-x">
                    
                    <div class="">
                        <p class="">
                            <a href="/register" class="mdc-button mdc-button--outlined bg-light">
                                <span class="mdc-button__ripple"></span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">how_to_reg</i>
                                <span class="mdc-button__label">Register</span>
                            </a> 
                        </p>
    
                        <p>
                        <center>
                            <a href="/login" class="mdc-button mdc-button--outlined bg-light">
                                <span class="mdc-button__ripple"></span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">login</i>
                                <span class="mdc-button__label">login</span>
                            </a> 
                        </center>
                        </p>
                    </div>
    
                </div>

            </div>
        </div>

    </div>
<!-- </main> -->

{% endblock %}