{% extends 'index.html' %}
{% block content %}
    {% include 'nav.html' %}
    <main class="mdc-top-app-bar--fixed-adjust   " style="height: 100% !important;">
      {% include 'flash_msg.html' %}
        <div class="grid mt-0 row g-0 h-auto mt-2 pb-5" id="scroller">

          <template id="post_template">
            <div class="grid-item col-6 col-xl-2 pb-0 p-2 " >
              <a href="#"><img src="" id="trietMedia" class="rounded " width="100%" alt="image"></a>
              
              <p class=" col-12   ">
                <div class="row">
                  <div class="col-3">
                    <button class="mdc-button" >
                      <span class="mdc-button__ripple"></span>
                      <span class="material-icons-round text-dark  " id="like_btn">
                        favorite
                      </span>
                    </button>
                  </div>
                  <div class="col-3">
                    <button class="mdc-button">
                      <span class="mdc-button__ripple"></span>
                      <span class="material-icons-round text-dark" id="comment_btn" >
                        comment_bank
                      </span>
                    </button>
                  </div>
                </div>
              </p>
            </div>
          </template>            

        </div>

        <div class="d-flex justify-content-center mb-5 pb-5" id="sentinel">
          <div class="spinner-border " role="status"></div>
          <div class="mt-5 pb-5"></div>
        </div>
    </main>

    {% include 'mobilenav.html' %}
{% endblock %}
