{% extends 'index.html' %}
{% block content %}
    {% include 'nav.html' %}
    <main class="mdc-top-app-bar--fixed-adjust   " style="height: 100% !important;">
      {% include 'flash_msg.html' %}
        <div class="grid mt-0 row g-0 mt-2" id="scroller">
          {% for triet in all_triet %}
          <div class="grid-item col-6 rounded-2  col-xl-2 pb-0 p-2 ">
              <img src="{{triet.picture}}" class="rounded-5" width="100%" alt="image">
            <p class="mt-2   col-12 p-3 pt-xl-0 ">
              <button class="mdc-button" >
                  <span class="mdc-button__ripple"></span>
                  <span class="material-icons-round text-danger " id="like_btn">
                    favorite
                    </span>
              </button>
              <button class="mdc-button">
                <span class="mdc-button__ripple"></span>
                <span class="material-icons-round text-info" id="comment_btn" >
                  comment_bank
                  </span>
            </button>
          </p>
          <hr class="border border-light" />
          </div>
          {% endfor %}
        </div>
    </main>
    {% include 'mobilenav.html' %}
{% endblock %}
