{% extends 'index.html' %}
{% block content %}
    {% include 'nav.html' %}
    <main class="mdc-top-app-bar--fixed-adjust row " style="height: 100% !important;">

        <ul class="mdc-image-list mdc-image-list--masonry my-masonry-image-list row">
          
          <li class="mdc-image-list__item col-12 col-xl-3">
            <img class="mdc-image-list__image" src="">
            <div class="mdc-image-list__supporting">
              <span class="mdc-image-list__label">Text label</span>
            </div>
          </li>

        </ul>
    </main>
{% endblock %}