{% extends 'index.html' %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block content %}

<div class="position-relative">
    <div class="position-absolute top-50 start-50 translate-middle col-12 ">
        <div class="col-12">
            <center>
                <h4><b>Lifeat</b></h4>
            </center>
        </div>
        <form action="/loginpost" method="post"  class="col-12 p-xl-5">
            <div class="row">
                <legend>
                    <h5>Login</h5>
                </legend>
                
                <div class="col-xl-4">
                    <label class="mdc-text-field mdc-text-field--outlined col-xl-12" data-mdc-auto-init="MDCTextField"  >
                        <span class="mdc-text-field__ripple"></span>
                        <span class="mdc-floating-label" id="my-label-id">Email</span>
                        <input class="mdc-text-field__input" type="email" required
                                name="email"
                               aria-labelledby="my-label-id"
                               aria-controls="my-helper-id"
                               aria-describedby="my-helper-id">
                        <span class="mdc-line-ripple"></span>
                      </label>
                      <div class="mdc-text-field-helper-line">
                        <div class="mdc-text-field-helper-text" id="my-helper-id" aria-hidden="true">eg Johndoe@email.com.</div>
                      </div>
                </div>



                <div class="col-xl-4">
                    <label class="mdc-text-field mdc-text-field--outlined col-xl-12" data-mdc-auto-init="MDCTextField"  >
                        <span class="mdc-text-field__ripple"></span>
                        <span class="mdc-floating-label" id="my-label-id">Password</span>
                        <input class="mdc-text-field__input" type="password" required
                                name="password"
                               aria-labelledby="my-label-id"
                               aria-controls="my-helper-id"
                               aria-describedby="my-helper-id">
                        <span class="mdc-line-ripple"></span>
                      </label>
                      <div class="mdc-text-field-helper-line">
                        <div class="mdc-text-field-helper-text" id="my-helper-id" aria-hidden="true">eg johndoe@123.</div>
                      </div>
                </div>

                <div class="col-xl-4 pt-xl-4">
                    <button class="mdc-button mdc-button--outlined" type="submit">
                        <span class="mdc-button__ripple"></span>
                        <i class="material-icons mdc-button__icon" aria-hidden="true">done</i>
                        <span class="mdc-button__label">Login</span>
                      </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock%}