{% extends 'index.html' %}
{% block content %}
<!-- {% include 'nav.html' %} -->
<!-- <main class="mdc-top-app-bar--fixed-adjust row " style="height: 100% !important;"> -->
    <div class="row h-100">
        <div class="col-xl-4 h-100 bg-info">
            {% include 'auth_temp.html' %}
        </div>
        <div class="col-xl-6 p-5">
            <div class="col-12 ps-5">
                <form action="#" method="post">

                    <fieldset class="p-5">
                        <legend>Login</legend>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="col-12 mt-5 pt-3">
                            <label class="mdc-text-field mdc-text-field--outlined col-12" data-mdc-auto-init="MDCTextField" >
                                <span class="mdc-notched-outline">
                                  <span class="mdc-notched-outline__leading"></span>
                                  <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label" id="my-label-id">Your email</span>
                                  </span>
                                  <span class="mdc-notched-outline__trailing"></span>
                                </span>
                                <input type="email"  class="mdc-text-field__input" aria-labelledby="my-label-id">
                              </label>
                              <div class="mdc-text-field-helper-line">
                                <div class="mdc-text-field-helper-text" id="my-helper-id" aria-hidden="true">Eg Ukaegbu Ayoola.</div>
                              </div>
                        </div>
    
                        <div class="col-12 mb-4">
                            <label class="mdc-text-field mdc-text-field--outlined col-12" data-mdc-auto-init="MDCTextField" >
                                <span class="mdc-notched-outline">
                                  <span class="mdc-notched-outline__leading"></span>
                                  <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label" id="my-label-id">Your password</span>
                                  </span>
                                  <span class="mdc-notched-outline__trailing"></span>
                                </span>
                                <input type="password" class="mdc-text-field__input" aria-labelledby="my-label-id">
                              </label>

                        </div>
    
                        <div class="col-12">
                            <button class="mdc-button mdc-button--outlined col-12" type="submit" data-mdc-auto-init="MDCRipple">
                                <span class="mdc-button__ripple"></span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">login</i>
                                <span class="mdc-button__label">Login</span>
                              </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="col-xl-2 p-5">
            <p><a href="/register">
                Register
            </a></p>
        </div>
    </div>
<!-- </main> -->

{% endblock %}