{% extends 'index.html' %}
{% block content %}
{% include 'nav.html' %}

<main class="mdc-top-app-bar--fixed-adjust row " style="height: 100% !important;">

  <center>
    <form action="/create_triet" method="post" enctype="multipart/form-data" class="col-12 col-xl-4 p-xl-5">
      <div class="row">
          <legend>
              <h5>Create menu</h5>
          </legend>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="col-xl-12 col-12 ml-xl-5">
              <label class="mdc-text-field mdc-text-field--outlined col-12 col-xl-12" data-mdc-auto-init="MDCTextField"  >
                  <span class="mdc-text-field__ripple"></span>
                  <span class="mdc-floating-label" id="my-label-id">Title</span>
                  <input class="mdc-text-field__input" maxlength="15" type="text" required
                          name="title"
                         aria-labelledby="my-label-id"
                         aria-controls="my-helper-id"
                         aria-describedby="my-helper-id">
                  <span class="mdc-line-ripple"></span>
                </label>
                <div class="mdc-text-field-helper-line">
                  <div class="mdc-text-field-helper-text" id="my-helper-id" aria-hidden="true">eg Spaghetti.</div>
                </div>
          </div>

          <div class="col-xl-12">
            <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
            <p><label for="file" style="cursor: pointer;" class="mdc-button mdc-button--outlined">
                  <span class="material-icons-sharp">
                  image
                  </span> Upload Image
              </label>
            </p>
            <p><img id="output" width="200" /></p>
            <script>
              var loadFile = function(event) {
                var image = document.getElementById('output');
                image.src = URL.createObjectURL(event.target.files[0]);
              };
              </script>
          </div>
          
          <div class="col-xl-12 mb-xl-3">
              <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea mdc-text-field--with-internal-counter" data-mdc-auto-init="MDCTextField" >
                  <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                      <span class="mdc-floating-label" id="my-label-id">Textarea Label</span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                  </span>
                  <span class="mdc-text-field__resizer w-100 grow-wrap">
                    <textarea class="mdc-text-field__input col-12" id="description" onInput="this.parentNode.dataset.replicatedValue = this.value" name="description" aria-labelledby="my-label-id" rows="2" cols="40" maxlength="70"></textarea>
                    <span class="mdc-text-field-character-counter">0 / 70</span>
                  </span>
                </label>
                <style>
                              .grow-wrap {
                                /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
                                display: grid;
                              }
                              .grow-wrap::after {
                                /* Note the weird space! Needed to preventy jumpy behavior */
                                content: attr(data-replicated-value) " ";

                                /* This is how textarea text behaves */
                                white-space: pre-wrap;

                                /* Hidden from view, clicks, and screen readers */
                                visibility: hidden;
                              }
                              .grow-wrap > textarea {
                                /* You could leave this, but after a user resizes, then it ruins the auto sizing */
                                resize: none;

                                /* Firefox shows scrollbar on growth, you can hide like this. */
                                overflow: hidden;
                              }
                              .grow-wrap > textarea,
                              .grow-wrap::after {
                                /* Identical styling required!! */
                                /* border: 1px solid black; */
                                padding: 0.5rem;
                                font: inherit;

                                /* Place on top of each other */
                                grid-area: 1 / 1 / 2 / 2;
                              }

                </style>
          </div>
  
  
  
          <div class="col-xl-12">
              <label class="mdc-text-field mdc-text-field--outlined col-xl-12" data-mdc-auto-init="MDCTextField"  >
                  <span class="mdc-text-field__ripple"></span>
                  <span class="mdc-floating-label" id="my-label-id">Price</span>
                  <input class="mdc-text-field__input" type="number" required
                          name="price"
                         aria-labelledby="my-label-id"
                         aria-controls="my-helper-id"
                         aria-describedby="my-helper-id">
                  <span class="mdc-line-ripple"></span>
                </label>
                <div class="mdc-text-field-helper-line">
                  <div class="mdc-text-field-helper-text" id="my-helper-id" aria-hidden="true">eg 500 - above.</div>
                </div>
          </div>

  
          <div class="col-xl-12 pt-xl-4 ">
              <button class="mdc-button mdc-button--outlined" type="submit">
                  <span class="mdc-button__ripple"></span>
                  <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>
                  <span class="mdc-button__label">Create</span>
                </button>
          </div>
      </div>
  </form>
  </center>

</main>

{% endblock %}