{% extends 'index.html' %}
{% block content %}

<div class="position-relative">
    <div class="position-absolute top-50 start-50 translate-middle ">

        <form action="/makemenu" method="post" enctype="multipart/form-data" class="col-12 p-xl-5">
            <div class="row">
                <legend>
                    <h5>Create menu</h5>
                </legend>
                <div class="col-xl-12 ml-xl-5">
                    <label class="mdc-text-field mdc-text-field--outlined col-xl-12" data-mdc-auto-init="MDCTextField"  >
                        <span class="mdc-text-field__ripple"></span>
                        <span class="mdc-floating-label" id="my-label-id">Title</span>
                        <input class="mdc-text-field__input" type="text" required
                                name="title"
                               aria-labelledby="my-label-id"
                               aria-controls="my-helper-id"
                               aria-describedby="my-helper-id">
                        <span class="mdc-line-ripple"></span>
                      </label>
                      <div class="mdc-text-field-helper-line">
                        <div class="mdc-text-field-helper-text" id="my-helper-id" aria-hidden="true">eg Spaghetti.</div>
                      </div>
                </div>
                
                <div class="col-xl-12 mb-xl-3">
                    <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea mdc-text-field--with-internal-counter" data-mdc-auto-init="MDCTextField" >
                        <span class="mdc-notched-outline">
                          <span class="mdc-notched-outline__leading"></span>
                          <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" id="my-label-id">Textarea Label</span>
                          </span>
                          <span class="mdc-notched-outline__trailing"></span>
                        </span>
                        <span class="mdc-text-field__resizer w-100">
                          <textarea class="mdc-text-field__input col-12" name="description" aria-labelledby="my-label-id" rows="8" cols="40" maxlength="140"></textarea>
                          <span class="mdc-text-field-character-counter">0 / 140</span>
                        </span>
                      </label>
                </div>



                <div class="col-xl-12">
                    <label class="mdc-text-field mdc-text-field--outlined col-xl-12" data-mdc-auto-init="MDCTextField"  >
                        <span class="mdc-text-field__ripple"></span>
                        <span class="mdc-floating-label" id="my-label-id">Price</span>
                        <input class="mdc-text-field__input" type="number" required
                                name="price"
                               aria-labelledby="my-label-id"
                               aria-controls="my-helper-id"
                               aria-describedby="my-helper-id">
                        <span class="mdc-line-ripple"></span>
                      </label>
                      <div class="mdc-text-field-helper-line">
                        <div class="mdc-text-field-helper-text" id="my-helper-id" aria-hidden="true">eg 500 - above.</div>
                      </div>
                </div>

                <div class="col-xl-12">
                    <div class="file_input_div">
                        <div class="file_input">
                          <label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                            <i class="material-icons">file_upload</i> upload image
                            <input id="file_input_file" class="none" name="image" type="file" />
                          </label>
                        </div>
                        <div id="file_input_text_div" class="mdl-textfield mdl-js-textfield textfield-demo">
                          <input class="file_input_text mdl-textfield__input" type="text" disabled readonly id="file_input_text" />
                          <label class="mdl-textfield__label" for="file_input_text"></label>
                        </div>
                      </div>
                      <style>
                          .file_input_div {
                            margin: auto;
                            /* width: 250px;
                            height: 40px; */
                            }

                            .file_input {
                            float: left;
                            }

                            #file_input_text_div {
                            width: 200px;
                            margin-top: -8px;
                            margin-left: 5px;
                            }

                            .none {
                            display: none;
                            }
                      </style>
                      <script>
                          var fileInputTextDiv = document.getElementById('file_input_text_div');
var fileInput = document.getElementById('file_input_file');
var fileInputText = document.getElementById('file_input_text');

fileInput.addEventListener('change', changeInputText);
fileInput.addEventListener('change', changeState);

function changeInputText() {
  var str = fileInput.value;
  var i;
  if (str.lastIndexOf('\\')) {
    i = str.lastIndexOf('\\') + 1;
  } else if (str.lastIndexOf('/')) {
    i = str.lastIndexOf('/') + 1;
  }
  fileInputText.value = str.slice(i, str.length);
}

function changeState() {
  if (fileInputText.value.length != 0) {
    if (!fileInputTextDiv.classList.contains("is-focused")) {
      fileInputTextDiv.classList.add('is-focused');
    }
  } else {
    if (fileInputTextDiv.classList.contains("is-focused")) {
      fileInputTextDiv.classList.remove('is-focused');
    }
  }
}
                      </script>
                </div>

                <div class="col-xl-3 pt-xl-4">
                    <button class="mdc-button mdc-button--outlined" type="submit">
                        <span class="mdc-button__ripple"></span>
                        <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>
                        <span class="mdc-button__label">Create</span>
                      </button>
                </div>
            </div>
        </form>
    </div>
</div

{% endblock %}