<nav class="navbar fixed-bottom  bgTab smTab border-top border-light mobile_tab" id="" >
        <div class="col-12">

            <div class=" d-flex justify-content-around " >
                
                <a href="#" class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">explore</a>
                <a href="#" class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">add</a>
                <a href="#" class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">notifications</a>


            </div>

        </div>

  </nav>