<nav class="navbar fixed-bottom  bgTab smTab border-top border-light mobile_tab" style="background-color: black !important" id="" >
        <div class="col-12">

            <div class=" d-flex justify-content-around col-12 mdc-top-app-bar__section mdc-top-app-bar__section--align-end" >
                
                <a href="/" class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">explore</a>
                <a href="/search" class="material-icons-sharp mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">search</a>
                <a href="#" class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">notifications</a>
                <a href="/wallet" class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">account_balance_wallet</a>


            </div>

        </div>

  </nav>