<header class="mdc-top-app-bar mdc-top-app-bar--fixed col-12" data-mdc-auto-init="MDCTopAppBar" style="height: 8%;">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <a href="/" class="mdc-top-app-bar__title text-white">
          <img src="{{url_for('static', filename='imgs/trie-logo.svg')}}" height="5%" width="5%" alt="" >
          <em
           style="
            color: #efefef;
            font-family: 'Rock Salt', cursive;" >Trie
          </em>
        </a>
      </section>
      {% if current_user.is_authenticated %}
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <a href="#notification" class="material-icons-sharp mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">notifications</a>
            <a href="/user/{{current_user.id}}" class="material-icons-sharp mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">person</a>
            <a href="/make_treat" class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">add</a>
            <a href="/logout" class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Options">logout</a>
          </section>
        {% else %}
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
          <a href="{{auth}}" >
            <button class="material-icons-round mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">how_to_reg </button>
          </a> 
        </section>
      {% endif %}
        </div>
      </header>