{% extends 'index.html' %}
{% block content %}
    {% include 'nav.html' %}
    <main class="mdc-top-app-bar--fixed-adjust   " style="height: 100% !important;">
      {% include 'flash_msg.html' %}
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="d-flex justify-content-center">
                    <div class="col-xl-3 col-7">
                        <img src="{{triet.picture}}" class="rounded " width="100%" alt="image">
                    </div>
                    <div class="col-xl-3 col-7 p-3">
                        <p>
                            <img src="{{triet.owner.profile_px}}" class="rounded " width="20" height="20" alt="image">
                            
                        </p>
                        <h3>
                            {{triet.title}}
                        </h3>

                        <p>
                            {{triet.description}}
                        </p>

                        <p class=" col-12   ">
                            <div class="row">
                              <div class="col-3">
                                <button class="mdc-button" >
                                  <span class="mdc-button__ripple"></span>
                                  <span class="material-icons-round text-dark  " id="like_btn">
                                    favorite
                                  </span>
                                </button>
                              </div>
                              <div class="col-3">
                                <button class="mdc-button">
                                  <span class="mdc-button__ripple"></span>
                                  <span class="material-icons-round text-dark" id="comment_btn" >
                                    comment_bank
                                  </span>
                                </button>
                              </div>
                            </div>
                          </p>

                        <div class="col-12 bg-light d-flex justify-content-between rounded-3" style="height: inherit;">
                            <div class="pt-1">
                                ${{triet.price}}
                            </div>

                            <div class="">
                                <a href="#" class="mdc-button text-dark " style="background-color: rgba(0, 128, 0, 0.212);">
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">Buy</span>
                                    <span class="material-icons">
                                        payment
                                        </span>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include 'mobilenav.html' %}
{% endblock %}
