{% extends 'index.html' %}
{% block content %}
    {% include 'nav.html' %}
    <main class="mdc-top-app-bar--fixed-adjust   " style="height: 100% !important;">
      {% include 'flash_msg.html' %}
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="d-flex justify-content-center">
                    <h1>The wallet page is still in process <span class="material-icons-sharp">
                        account_balance_wallet
                        </span> 
                        👀
                    </h1>
                </div>
            </div>
        </div>
    </main>
    {% include 'mobilenav.html' %}
{% endblock %}
