<div class="d-flex justify-content-center ">
  <p id="count">Disconnected.</p>

    <div class="mt-5">
        <!-- <input type="text" name=”username” class="form-control" id="username"> -->
        <label class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField" >
          <span class="mdc-text-field__ripple"></span>
          <span class="mdc-floating-label" id="my-label-id" hidden>Enter name</span>
          <!-- <span class="mdc-text-field__affix mdc-text-field__affix--prefix"><span class="material-icons-round">
            person
            </span></span> -->
          <input class="mdc-text-field__input" hidden id="username" value={{current_user.username}} type="text" aria-labelledby="my-label-id">
          {{current_user.username}}
          <span class="mdc-text-field__affix mdc-text-field__affix--suffix">
          </span>
          <span class="mdc-line-ripple" hidden></span>
        </label>
        <div class="mdc-text-field-helper-line">
          <div class="mdc-text-field-helper-text" id="my-helper-id" aria-hidden="true">eg Micheal Jordan.</div>
        </div>
    </div>
    <!-- <button id="join_leave">Join call</button> -->
    <button class="mdc-button" id="join_leave">
        <span class="mdc-button__ripple"></span>
        <span class="material-icons-round video-call__btn">
          video_call
          </span>
        <!-- <span class="mdc-button__label">Join call</span> -->
      </button>
    <!-- <button id="share_screen" disabled>Share screen</button> -->
    <button class="mdc-button" id="share_screen" disabled>
        <span class="mdc-button__ripple"></span>
        <span class="material-icons-outlined video-call__btn">
          screen_share
          </span>
        <!-- <span class="mdc-button__label">Share screen</span> -->
      </button>
    <!-- <button id="toggle_chat" disabled>Toggle chat</button> -->
    <button class="mdc-button" id="toggle_chat" disabled>
        <span class="mdc-button__ripple"></span>
        <span class="material-icons-round video-call__btn">
          question_answer
          </span>
        <!-- <span class="mdc-button__label">Toggle chat</span> -->
      </button>
</div>

<div id="root">
    <div id="container" >
        <div id="local" class="participant col-xl-4 col-12 "><div></div><div class="label text-center "><span class="text-white" >me</span></div></div>
        <!-- more participants will be added dynamically here -->
    </div>
    <div id="chat">
        <div id="chat-scroll">
            <div id="chat-content">
                <!-- chat content will be added dynamically here -->
            </div>
        </div>
        <input id="chat-input" type="text">
    </div>  
</div>