<!-- <div class=" mt-3 p-2">
    <ul class="mdc-list">
        <li class="mdc-list-item" tabindex="0">
          <span class="mdc-list-item__ripple"></span>
          <span class="mdc-list-item__text">Marcaronie</span>
        </li>
        <li class="mdc-list-item">
          <span class="mdc-list-item__ripple"></span>
          <span class="mdc-list-item__text">Rice</span>
        </li>
        <li class="mdc-list-item">
          <span class="mdc-list-item__ripple"></span>
          <span class="mdc-list-item__text">Egusi soup</span>
        </li>
      </ul>
</div> -->

<div class="row p-3">
  <div class="col-7">
    <div class="row">
      <div class="col-xl-6">
        <div class="card" style="width: 100%;">
          <img src="{{url_for('static', filename='imgs/inkwobi.jpeg')}}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="row">
      <div class="col-xl-12">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 col-xl-4">
              <img src="{{url_for('static', filename='imgs/Ghanaian Joll Of Rice & Beef Kebab 1.jpeg')}}" style="height: auto; width: 100%" alt="...">
            </div>
            <div class="col-md-8 col-xl-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with text below as a natural .</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>