<!-- <div class=" mt-3 p-2">
    <ul class="mdc-list">
        <li class="mdc-list-item" tabindex="0">
          <span class="mdc-list-item__ripple"></span>
          <span class="mdc-list-item__text">Marcaronie</span>
        </li>
        <li class="mdc-list-item">
          <span class="mdc-list-item__ripple"></span>
          <span class="mdc-list-item__text">Rice</span>
        </li>
        <li class="mdc-list-item">
          <span class="mdc-list-item__ripple"></span>
          <span class="mdc-list-item__text">Egusi soup</span>
        </li>
      </ul>
</div> -->

<div class="row p-3">
  {% for menu in all_menu %}
    <div class="col-6">
      <a href="/view_menu/{{menu.id}}" style="text-decoration: none;">
        <div class="card mb-3" >
          <div class="row g-0">
            <div class="col-md-4 col-xl-5">
              <img src="{{url_for('static', filename='imgs/menu/')}}{{menu.picture}}" style="height: 100%; width: 100%" alt="...">
            </div>
            <div class="col-md-8 col-xl-7">
              <div class="card-body"> 
                <h5 class="card-title">{{menu.title}}</h5>
                <p class="card-text">{{menu.description}}</p>
                <p class="card-text"><small class="text-muted">₦{{menu.price}}</small></p>
              </div>
            </div>
          </div>
        </div>
        <p class="m-xl-2" >
          <a href="/user/{{menu.user_id}}">
              <button class="material-icons-sharp mdc-top-app-bar__action-item mdc-icon-button text-secondary" aria-label="Search">
                  person
              </button>
          </a>
      </p>
      </a>
    </div>
    {% endfor %}
</div>