<ul class="mdc-list mdc-list--two-line">
    <li class="mdc-list-item" tabindex="0">
      <span class="mdc-list-item__ripple"></span>
      <span class="mdc-list-item__text">
        <span class="mdc-list-item__primary-text">Love by you</span>
        <span class="mdc-list-item__secondary-text">Mali music</span>
      </span>
    </li>
    <li class="mdc-list-item">
      <span class="mdc-list-item__ripple"></span>
      <span class="mdc-list-item__text">
        <span class="mdc-list-item__primary-text">Micorason </span>
        <span class="mdc-list-item__secondary-text">Don williams</span>
      </span>
    </li>
    <li class="mdc-list-item">
      <span class="mdc-list-item__ripple"></span>
      <span class="mdc-list-item__text">
        <span class="mdc-list-item__primary-text">Book of life </span>
        <span class="mdc-list-item__secondary-text">Nathaniel bassey</span>
      </span>
    </li>
  </ul>