<div class="col-12">
  <div class="row">
    <div class="col-6">
      <label class="mdc-text-field mdc-text-field--filled" data-mdc-auto-init="MDCTextField" >
        <span class="mdc-text-field__ripple"></span>
        <input class="mdc-text-field__input" type="text" id="search" aria-labelledby="label">
        <span id="label" class="mdc-floating-label">Stream song</span>
        <span class="mdc-line-ripple"></span>
      </label>
    </div>

    <div class="col-6">
      <audio controls>
        <source src="" id="musicTray" type="audio/mpeg" >
      </audio>
    </div>
  </div>
</div>

<div id="results" class="overflow-auto" style="height: 100%" >

</div>
