



 /* Small devices (landscape phones, 576px and up) */
 /* @media screen and (min-width:320px){
    #desktopMenu {
        display: none !important;
    }
 } */

 #mobile_tab{
    background-color: #6200ee;
 }

@media (min-width:320px) and (max-width: 640px) and (orientation: portrait) {
    #desktopMenu {
        display: none !important;
    }
    #homeBtn{
        font-size: 250%;
    }
}

@media (min-width:320px) and (max-width: 960px) and (orientation: landscape) {
    #desktopMenu {
        display: none !important;
    }
    #homeBtn{
        font-size: 200%;
    }
}

@media (min-width: 641px) {
    #mobile_tab {
        display: none !important;
    }
}

@media (min-width: 641px) and (orientation: landscape) {
    #mobile_tab {
        display: none !important;
    }
}
